<div class="container-fluid mt-3">
    <h1>CoderZap</h1>
    
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const socket = io();

        
        Swal.fire({
  icon: "error",
  title: "Oops...",
  text: "Something went wrong!",
  footer: '<a href="#">Why do I have this issue?</a>'
});


 
   

</script>